.footer {
    background: #121213;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    margin: 1em;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: 1em;
}