 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   scroll-behavior: smooth;
   width: 100vw;
   font-family: 'Karla';
   overflow-x: hidden;
 }

 h1 {
   font-size: 2.5em;
   padding-bottom: 0.5em;
   color: #00000f;
 }

 h2 {
   font-size: 2em;
   color: #333;
 }

 h3 {
   font-size: 1.5em;
   color: #333;
 }

 p {
   line-height: 1.5em;
   color: #00000f;
 }

 @media screen and (max-width: 768px) {
   h1 {
     font-size: 2.5em;

   }

   h2 {
     font-size: 1.4em;
     color: #333;
   }

   h3 {
     font-size: 1.1em;
   }

   p {
     font-size: 1em;
   }
 }
 @media screen and (max-width: 414px) {
   h1 {
     font-size: 2.4em;

   }

   h2 {
     font-size: 1.3em;
     color: #333;
   }

   h3 {
     font-size: 1.1em;
   }

   p {
     font-size: 1em;
   }
 }
